#bottom-nav {
  background-color: $white;
}

#bottom-nav-left {
  text-align: left;
  float: left;
  padding: .5em;
  padding-left: 1em;
}

#bottom-nav ul {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.877em
}