// Colors
$black: #323132;
$white: #EFEFEF;
$dark-blue: #00416A;
$light-blue: #B7DCEE;

// Fonts
$merriweather: 'Merriweather Sans', sans-serif;
$bitter: 'Bitter', serif;

// Grid breakpoints
$breakpoints: (
  'small':  576px,
  'medium': 768px,
  'large':  1200px
) !default;